@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #0F1111;
  background-color: #f3f3f3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: block;
}

@theme {
  --color-amazon-navy-900: #131921;
  --color-amazon-navy-800: #232f3e;
  --color-amazon-orange: #ff9900;
  --color-amazon-orange-light: #febd69;
  --color-amazon-blue: #007185;
  --color-amazon-text: #0F1111;
  --color-amazon-text-gray: #565959;
  --color-amazon-white: #ffffff;
  --color-amazon-bg: #f3f3f3;
}
